<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.parteek.fysquefreak">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Biceps" />
        <activity
            android:name=".Chest"
            android:label="Chest Excercises" />
        <activity
            android:name=".BenchPress"
            android:label="Bench Press" />
        <activity
            android:name=".InclineBench"
            android:label="Incline Bench" />
        <activity
            android:name=".InclinedDumbell"
            android:label="Incline Dumbell" />
        <activity
            android:name=".ParallelDips"
            android:label="Parallel Dips" />
        <activity
            android:name=".NewSchedule"
            android:label="New Schedule" />
        <activity
            android:name=".MuscelsActivity"
            android:label="Choose Muscel" />
        <activity
            android:name=".schedule.ScheduleChest"
            android:label="Select Exercises" />

        <provider
            android:name=".MyContentProvider"
            android:authorities="com.android.parteek.fysquefreak.cp.provider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".schedule.ScheduleList"
            android:label="Schedule"></activity>
    </application>

</manifest>